<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<title>Menú Inventario</title>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="/menu" />



			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
		<p:staticMessage severity="info" summary="Módulo de inventario"></p:staticMessage>
	</h:form>

	<p:panel>
		<p:commandButton value="Nuevo articulo" icon="pi pi-briefcase"
			id="cmdNuevo"></p:commandButton>
		<p:overlayPanel for="cmdNuevo" showCloseIcon="true">
			<h:form>
				<p:panelGrid columns="2">
					<h:outputText value="Nombre:" />
					<p:inputText value="#{beanInventario.nuevoArticulo.nombre}"
						required="true" requiredMessage="Ingrese el nombre" />
					<h:outputText value="Precio:" />
					<p:inputNumber value="#{beanInventario.nuevoArticulo.precio}" decimalPlaces="2" />
					<h:outputText value="Categoría:" />
					<p:inputText value="#{beanInventario.nuevoArticulo.categoria}"
						required="true" requiredMessage="Ingrese la categoría" />
					<h:outputText value="Marca:" />
					<p:inputText value="#{beanInventario.nuevoArticulo.marca}"
						required="true" requiredMessage="Ingrese el telefono." />
					<p:commandButton value="Guardar" icon="pi pi-save" update="@form:, tablaAsignaciones"
						actionListener="#{beanInventario.actionListenerInsertarNuevoArticulo()}"></p:commandButton>
				</p:panelGrid>
			</h:form>
		</p:overlayPanel>

		<!-- Esta es la tabla... -->

		<p:panelGrid columns="2" styleClass="top-aligned-columns">
			<h:panelGroup>
				<h:form>
					<p:selectOneMenu filterMatchMode="contains" filter="true"
						value="#{beanSegAsignaciones.idSegUsuarioSeleccionado}">
						<f:selectItem itemLabel="Seleccione el producto"
							noSelectionOption="true" />
						<f:selectItems value="#{beanSegAsignaciones.listaUsuarios}"
							var="u" itemLabel="#{u.apellidos} #{u.nombres}"
							itemValue="#{u.idSegUsuario}"></f:selectItems>
						<p:ajax update="tablaAsignaciones"
							listener="#{beanSegAsignaciones.actionListenerSeleccionarUsuario()}"></p:ajax>
					</p:selectOneMenu>
					<br />
					<h:outputText value="Stock" />
					<p:inputNumber value="#{inputNumberView.input1}" />
					<h:outputText value="Ingrese la fecha de expiración" />
					<p:calendar pattern="dd/MM/yyyy" />
					<br />
					<p:commandButton value="Guardar" icon="pi pi-save" update="@form:,"
						actionListener="#{beanClientes.actionListenerInsertarNuevoCliente()}"></p:commandButton>
				</h:form>
			</h:panelGroup>
			<h:panelGroup>
				<h:form>
					<p:inputText
						placeholder="Ingrese el codigo del producto para buscar" />
					<p:commandButton value="Buscar" icon="pi pi-search" />
				</h:form>
				<p:dataTable id="tablaAsignaciones"
					value="#{beanInventario.stockArticulos()}" var="art">
					<f:facet name="header">
						<h:outputText value="Asignaciones" />
					</f:facet>
					<p:column headerText="ID">
						<h:outputText value="#{art.idInvArticulo}" />
					</p:column>
					<p:column headerText="Nombre">
						<h:outputText value="#{art.nombre}" />
					</p:column>
					<p:column headerText="Precio">
						<h:outputText value="#{art.precio}" />
					</p:column>
					<p:column headerText="Marca">
						<h:outputText value="#{art.marca}" />
					</p:column>
					<p:column headerText="Cantidad">
						<h:outputText value="#{art.stock}" />
					</p:column>
					<p:column headerText="Fecha de expiración">
						<h:outputText value="#{art.fechaExpiracion}" />
					</p:column>
				</p:dataTable>
			</h:panelGroup>
		</p:panelGrid>


	</p:panel>
</body>
</html>
