<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<f:metadata>
	<f:event listener="#{beanSegLogin.actionVerificarLogin()}"
		type="preRenderView"></f:event>
</f:metadata>
<h:head>
	<title>Clientes</title>
</h:head>
<body>
	<p:growl>
		<p:autoUpdate />
	</p:growl>
	<h:form>
		<p:menubar>
			<p:menuitem value="Regresar" icon="pi pi-home" action="menu" />
			<f:facet name="options">
				<p:menuButton value="#{beanSegLogin.loginDTO.correo}"
					icon="pi pi-user">
					<p:menuitem value="Perfil" icon="pi pi-cog"></p:menuitem>
					<p:menuitem value="Cerrar sesión" icon="pi pi-sign-out"
						action="#{beanSegLogin.actionCerrarSesion()}"></p:menuitem>
				</p:menuButton>
			</f:facet>
		</p:menubar>
	</h:form>
	<p:panel>
		<p:commandButton value="Nuevo" icon="pi pi-plus" id="cmdNuevo"></p:commandButton>
		<p:overlayPanel for="cmdNuevo" showCloseIcon="true">
			<h:form>
				<p:panelGrid columns="2">
					<h:outputText value="Apellidos:" />
					<p:inputText value="#{beanClientes.nuevoCliente.apellidos}"
						required="true" requiredMessage="Ingrese el apellido." />
					<h:outputText value="Nombres:" />
					<p:inputText value="#{beanClientes.nuevoCliente.nombres}" 
						required="true" requiredMessage="Ingrese el nombre."/>
					<h:outputText value="Direccion:" />
					<p:inputText value="#{beanClientes.nuevoCliente.direccion}"
						required="true" requiredMessage="Ingrese la direccion." />
					<h:outputText value="Telefono:" />
					<p:inputText value="#{beanClientes.nuevoCliente.telefono}"
						required="true" requiredMessage="Ingrese el telefono." />
					<p:commandButton value="Guardar" icon="pi pi-save"
						update="@form:,formDatos"
						actionListener="#{beanClientes.actionListenerInsertarNuevoCliente()}"></p:commandButton>
				</p:panelGrid>
			</h:form>
		</p:overlayPanel>
		<h:form id="formDatos">
			<p:dataTable value="#{beanClientes.listaClientes}" var="c"
				emptyMessage="No hay registros aún.">
				<p:column headerText="ID">
					<h:outputText value="#{c.idSerCliente}" />
				</p:column>
				<p:column headerText="APELLIDOS">
					<h:outputText value="#{c.apellidos}" />
				</p:column>
				<p:column headerText="NOMBRES">
					<h:outputText value="#{c.nombres}" />
				</p:column>
				<p:column headerText="DIRECCION">
					<h:outputText value="#{c.direccion}" />
				</p:column>
				<p:column headerText="TELEFONO">
					<h:outputText value="#{c.telefono}" />
				</p:column>
				<p:column headerText="OPCIONES">
					<p:commandButton icon="pi pi-pencil" title="editar"
						actionListener="#{beanClientes.actionListenerCargarEdicion(c)}"
						oncomplete="PF('dialogoEdicion').show()" update=":formEdicion" />
					<p:commandButton icon="pi pi-times-circle" title="eliminar"
						styleClass="ui-button-danger" update="@form"
						actionListener="#{beanClientes.actionListenerEliminarUsuario(c.idSerCliente)}">
						<p:confirm header="Confirmación"
							message="Desea borrar este registro?" icon="pi pi-info-circle" />
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:form>
	</p:panel>
	<p:dialog header="Edición" widgetVar="dialogoEdicion">
		<h:form id="formEdicion">
			<p:panelGrid columns="2" layout="grid">
				<h:outputText value="Apellidos:" />
					<p:inputText value="#{beanClientes.edicionCliente.apellidos}"
						required="true" requiredMessage="Ingrese el apellido." />
					<h:outputText value="Nombres:" />
					<p:inputText value="#{beanClientes.edicionCliente.nombres}" />
					<h:outputText value="Direccion:" />
					<p:inputText value="#{beanClientes.edicionCliente.direccion}" />
					<h:outputText value="Telefono:" />
					<p:inputText value="#{beanClientes.edicionCliente.telefono}" />
				<p:commandButton value="Guardar" icon="pi pi-save"
					update="@form,:formDatos"
					actionListener="#{beanClientes.actionListenerGuardarEdicionCliente()}"></p:commandButton>
			</p:panelGrid>
		</h:form>
	</p:dialog>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="fade"
		responsive="true" width="350">
		<p:commandButton value="No" type="button"
			styleClass="ui-confirmdialog-no ui-button-flat" />
		<p:commandButton value="Sí" type="button"
			styleClass="ui-confirmdialog-yes" />
	</p:confirmDialog>
</body>
</html>
